/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head {
  display: flex;
  justify-content: space-between;
  background-color: #003d5d;
  color: white;
  padding: 0.5rem;
  font-size: 1.3vw;
}

/* Header Styles */
header {
  position: relative;
  height: 500px;
  background-image: url("background.png");
  background-size: cover;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  padding: 1.25rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.logo img {
  width: 100px; /* Adjust as needed */
}

.nav-links {
  list-style-type: none;
  display: flex;
}

.nav-links li {
  margin-right: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.nav-links li .contact {
  padding: 0.25rem 1.6rem;
  color: black;
  background-color: white;
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.nav-links a:hover {
  color: #ffd700; /* Change color on hover */
}

/* Hero Section Styles */
.hero {
  display: flex;
  justify-content: space-between;
  margin-top: 6vw;
  color: white;
  margin-left: 3vw;
}
.hero h1 {
  font-family: "Prata", serif;
  font-weight: 400;
  font-size: 6vw;
}
.hero p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 2vw;
}
.hero .b {
  align-content: end;
  margin: 2vw;
}

.product-view {
  margin: 3rem;
}
.productHeading {
  margin-left: 2rem;
  margin-right: 2rem;
}
.productHeading h1 {
  margin-top: 1rem;
  color: #272727;
  font-family: "Prata", serif;
  font-weight: 400;
  font-size: 37px;
  text-align: center;
}

.productHeading p {
  margin-top: 0.5rem;
  color: #515151;
  font-family: "Prata", serif;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
}

/* Product Section Styles */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2.3rem;
  padding: 1.5rem;
  /* background-color: red; */
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.product:hover {
  scale: 101%;
  box-shadow: 5px 5px 5px #dad7d7;
}

.product img {
  width: 100%;
  height: auto;
}

.product h2 {
  margin: 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: #272727;
}

.product p {
  margin: 1.5rem;
  margin-top: 0.5rem;
  color: #003d5d;
}

.product button {
  margin: 1.5rem;
  margin-top: 0.5rem;
  padding: 10px 20px;
  color: #003d5d;
  background-color: white;
  cursor: pointer;
}
.product h2 p button {
  margin-left: 1rem;
}
.view-all {
  padding: 0.6rem 4rem;
  display: flex;
  color: #003d5d;
  background-color: white;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
/* Owner and Contact Section Styles */
.person-contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2.3rem;
  background-image: url("cnt.png");
  padding: 2rem;
}

.person-contact .person h2 {
  color: #272727;
  font-family: "prata", sans-serif;
  font-weight: 400;
}
.person-contact .person {
  margin-bottom: 1rem;
}
.person-contact .person p {
  color: #515151;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #003d5d;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 1.2rem;
}

label {
  font-weight: bold;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.form-container p {
  color: white;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-family: "Prata", serif;
  font-weight: 400;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

.submit {
  margin-top: 0.5rem;
  padding: 0.4rem 3rem;
  color: white;
  background-color: transparent;
  cursor: pointer;
  border-color: white;
}

.submit:hover {
  background-color: #0056b3;
}

.copyright {
  margin-top: 3rem;
  text-align: center;
  color: #acacac;
  font-size: 0.7rem;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 800px) {
  .navbar {
    display: flex;
    color: white;
  }
  .hamburger {
    display: block;
  }
  .navbar a {
    margin: 10px 0;
  }
  .nav-links li {
    display: none;
  }
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
  }
  .hero h1 {
    text-align: center;
    margin-bottom: 1rem;
  }
  .hero p {
    text-align: center;
    margin-bottom: 1rem;
  }
  .head {
    display: flex;
    justify-content: space-between;
    background-color: #003d5d;
    color: white;
    padding: 0.5rem;
    font-size: 1.3vh;
  }
}
